{% extends "basefront.html.twig" %}

{% block body %}
    <p class="mt-3">
        <h3>Bienvenue sur le site de MediaTek86 consacré aux formations en ligne</h3>
    </p>
    <p class="mt-3">
        Vous allez pouvoir vous former à différents outils numériques gratuitement et directement en ligne.<br />
        Dans la partie <a href="{{ path('formations') }}">Formations</a>, vous trouverez la liste des formations proposées.
        Vous pourrez faire des recherches et des tris.<br />
        En cliquant sur la miniature, vous accèderez à la présentation plus détaillée de la formation ainsi que la vidéo correspondante.
    </p>
    <p>
        Voici les deux dernières formations ajoutées au catalogue :
    </p>
{% endblock %}


