{% extends "admin/adminbase.html.twig" %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  Formations
</li>
<li class="breadcrumb-item active">
  {{ formation.title }}
</li>
{% endblock %}

{% block body %}
<div class="card p-3 m-3 shadow-lg">
  {% for f in app.session.flashbag.get('success') %}
  <div class="alert alert-success">
    {{ f }}
  </div>
  {% endfor %}

  {{ form(form) }}
</div>
{% endblock %}
