<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mediatek Formation{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {% block head %}{% endblock %}
    </head>
    <body>
        <!-- entête -->
        {% block top %}{% endblock %}
        <!-- corps -->
        <div class="{% block bodyclasses %}container{% endblock %}">
            {% block body %}{% endblock %}
        </div>
        <!-- footer -->
        {% block footer %}{% endblock %}
    </body>
</html>
